<template>
  <q-layout view="hHr LpR lFf">
    <q-page class="q-pt-md q-mb-xl">
      <div class="row q-pa-xl">
        <div class="col-sm-12">
          <!-- EL BREADCRUMB DEL COMPONENTE -->
          <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="recicly bin" />
          </q-breadcrumbs>
        </div>

        <div class="col-12 q-mt-xl" v-if="show.results">
          <!-- SE IMPORTA TABLA DE RESULTADOS -->
          <tableresults :results="state.results"></tableresults>
        </div>
      </div>
    </q-page>
  </q-layout>
</template>

<script lang="ts">
import tableresults from "./tableresults.vue";

import { defineComponent, ref, computed, reactive } from "@vue/composition-api";
import { date } from "quasar";
export default defineComponent({
  name: "clients",
  components: { tableresults },
  setup(props, context) {
    const show = {
      profile: ref(false),
      search: ref(true),
      results: ref(true)
    };
    const addClient = () => {
      context.root.$router.push({ path: "/clients/profile" });
    };
    const state = reactive({
      results: new Array()
    });
    const results = reactive([]);
    const newSearch = (search: Array<[]>) => {
      state.results = search;
    };
    return {
      show,
      addClient,
      newSearch,
      state,
      context
    };
  }
});
</script>
