<template>
  <q-layout view="hHr LpR lFf">
    <q-page>
      <div class="row">
        <div
          class="col-sm-6 col-12 login-logo hidden-sm"
          :style="{ display: $q.screen.xs ? 'none' : '' }"
        >
          <div class="row full-height items-center">
            <div class="col text-center">
              <img src="statics/antromex.svg" alt="" />
              <p>
                Ingresa tus credenciales para poder<br />
                <span>ACCEDER</span> al sistema.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-sm-6 col-12 login-form"
          :style="{
            marginTop: $q.screen.xs ? '20vh' : '',
            padding: $q.screen.xs ? '1rem' : ''
          }"
          :class="{ 'order-first': $q.screen.xs }"
        >
          <div class="full-height items-center justify-center row">
            <div class="col-sm-10 col-12">
              <q-card class="q-pa-lg">
                <h3>L<span>O</span>GIN</h3>
                <q-card-section>
                  <q-form
                    ref="login"
                    class="q-gutter-md"
                    @submit.prevent="onSubmit()"
                  >
                    <q-input
                      filled
                      v-model="login.username"
                      label="EMAIL"
                      placeholder="Mi Usuario"
                      lazy-rules
                      :rules="[
                        val => (val && val.length > 0) || 'Ingresa tu usuario'
                      ]"
                    />
                    <q-input
                      filled
                      type="password"
                      v-model="login.password"
                      label="CONTRASEÑA"
                      placeholder="**************"
                      lazy-rules
                      :rules="[
                        val =>
                          (val && val.length > 0) || 'Ingresa tu contraseña'
                      ]"
                    />
                    <div>
                      <span class="text-red">{{ errorLogin }}</span>
                    </div>
                    <div>
                      <q-btn
                        label="Entrar"
                        type="submit"
                        class=" full-width"
                        size="xl"
                      />
                    </div>
                  </q-form>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </div>
      </div>
    </q-page>
  </q-layout>
</template>
<script lang="ts">
import EssentialLink from "components/EssentialLink.vue";
import { defineComponent, ref } from "@vue/composition-api";

export default defineComponent({
  name: "MainLayout",
  components: { EssentialLink },
  setup(props, context) {
    const login = {
      username: ref(""),
      password: ref("")
    };
    var errorLogin = ref("");
    const goLogin = () => {
      errorLogin.value = "";
      context.root.$store.commit("general/loading", true);
      context.root.$axios
        .post(
          context.root.$store.state.general.apiUrl + "/auth/login",
          {
            email: login.username.value,
            password: login.password.value,
            remember_me: true
          },
          {
            headers: {
              "Content-Type": "application/json",
              "X-Requested-With": "XMLHttpRequest",
              "Access-Control-Allow-Origin": "*"
            }
          }
        )
        .then(response => {
          //Esto se tiene que hacer cuando se loguea, se guarda el header authorization de manera global,
          //no es necesario mandarlo llamar cada vez que se haga una consulta.
          console.log(response.data);
          context.root.$axios.interceptors.request.use(
            config => {
              config.headers.Accept = "application/json";
              config.headers.Authorization =
                "Bearer " + response.data.access_token;
              return config;
            },
            function(error) {
              return Promise.reject(error);
            }
          );
          //fin de global token
          context.root.$axios
            .get(
              context.root.$store.state.general.apiUrl + "/auth/getDataUser",
              {}
            )
            .then(responseUser => {
              console.log(responseUser.data);
              context.root.$store.commit("general/loading", false);
              context.root.$store.commit("saveUserData", responseUser.data);
            })
            .catch(error => {
              context.root.$store.commit("general/loading", false);
            });
          context.root.$q.cookies.set("token", response.data.access_token);
          context.root.$q.cookies.set("expiredDate", response.data.expires_at);
          context.root.$store.commit("login");
          context.root.$router.push({ path: "/" });
        })
        .catch(error => {
          errorLogin.value = "El usuario o la contraseña son incorrectos.";
          context.root.$store.commit("general/loading", false);
          context.root.$q.cookies.remove("token");
        });
    };
    const onSubmit = () => {
      goLogin();
    };

    return { login, errorLogin, onSubmit, goLogin };
  }
});
</script>
