<template>
  <q-layout view="hHr LpR lFf">
    <q-page class="q-pt-md q-mb-xl">
      <div class="row q-pa-xl">
        <div class="col-sm-12">
          <!-- EL BREADCRUMB DEL COMPONENTE -->
          <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Agents" />
          </q-breadcrumbs>
        </div>
        <div class="col-12  col-sm-12 text-right q-mb-md">
          <!-- BOTON PARA AGREGAR CLIENTE, TAMBIEN LLAMA AL COMPONENTE PROFILE, AL IGUAL QUE EL EDITAR EN LA TABLA DE RESULTADOS -->
          <q-btn
            color="primary"
            icon="add"
            label="Add Agent"
            @click="addAgent()"
          />
        </div>
        <div class="col-sm-12">
          <q-table
            :dense="$q.screen.lt.xs"
            responsive
            title="Agents"
            :data="state.agents"
            :columns="state.table.columns"
            row-key="name"
            class="q-mt-lg"
          >
            <template v-slot:body-cell-email="props">
              <q-td key="email" :props="props" class="q-gutter-xs">
                <div>{{ props.row.email }}</div>
              </q-td>
            </template>
            <template v-slot:body-cell-phone="props">
              <q-td key="phone" :props="props" class="q-gutter-xs">
                <div>{{ props.row.phone }}</div>
              </q-td>
            </template>
            <template v-slot:body-cell-name="props">
              <q-td key="name" :props="props" class="q-gutter-xs">
                <div>{{ props.row.first_name }} {{ props.row.last_name }}</div>
              </q-td>
            </template>
            <template v-slot:body-cell-clients="props">
              <q-td key="clients" :props="props" class="q-gutter-xs">
                <div>{{ props.row.clients.length }}</div>
              </q-td>
            </template>
            <template v-slot:body-cell-created_by="props">
              <q-td key="created_by" :props="props" class="q-gutter-xs">
                <div>{{ props.row.user.name }}</div>
              </q-td>
            </template>
            <template v-slot:body-cell-created_at="props">
              <q-td
                key="created_at"
                :props="props"
                class="q-gutter-xs cursor-pointer"
                >{{
                  date.formatDate(props.row.created_at, "MMM DD, YYYY | HH:mm")
                }}
              </q-td>
            </template>
            <template v-slot:body-cell-actions="props">
              <q-td key="actions" :props="props" class="q-gutter-xs">
                <q-btn
                  color="primary"
                  icon="edit"
                  size="sm"
                  @click="editAgent(props.row)"
                />
                <q-btn
                  color="negative"
                  icon="delete_forever"
                  size="sm"
                  @click="deleteAgent(props.row)"
                />
              </q-td>
            </template>
          </q-table>
        </div>
      </div>
    </q-page>
    <!-- DIALOGO DEL FORM -->
    <q-dialog v-model="state.form">
      <q-card>
        <q-card-section class="row items-center">
          <div class="row">
            <div class="col-sm-12 space">
              <span class="text-h6">New Agent</span>
            </div>
            <div class="col-sm-12 space q-mt-md">
              <agentsform
                @renewagents="getData()"
                :agent="state.agentSelected"
              ></agentsform>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  reactive,
  onMounted
} from "@vue/composition-api";
import { date } from "quasar";
import agentsMethods from "./../../mixins/agentsMethods";
import agentsform from "./agentsform.vue";

export default defineComponent({
  name: "agents",
  components: { agentsform },

  setup(props, context) {
    onMounted(() => {
      getData();
    });
    const getData = () => {
      state.form = false;
      agentsMethods(context)
        .getData()
        .then(res => {
          state.agents = res;
        });
    };
    const state = reactive({
      table: {
        columns: [
          { name: "name", label: "Name", sortable: true, align: "left" },
          { name: "email", label: "Email", sortable: true, align: "left" },
          { name: "phone", label: "Phone", sortable: true, align: "left" },
          { name: "clients", label: "# Assigned Clients", align: "left" },
          { name: "created_by", label: "Created By", align: "left" },
          { name: "created_at", label: "Date Created", align: "left" },
          { name: "actions", label: "Actions" }
        ]
      },
      agents: [],
      agentSelected: new Object(),
      form: false
    });
    const addAgent = () => {
      state.agentSelected = {};
      state.form = true;
    };
    const editAgent = (agent: []) => {
      state.agentSelected = agent;
      state.form = true;
    };
    const deleteAgent = (agent: {
      id: number;
      first_name: string;
      last_name: string;
    }) => {
      context.root.$q
        .dialog({
          title: "Delete " + agent.first_name + " " + agent.last_name,
          message: "Are you sure?",
          ok: {
            push: true
          },
          cancel: {
            push: true,
            color: "negative"
          },
          persistent: true
        })
        .onOk(() => {
          agentsMethods(context)
            .deleteAgent(agent.id)
            .then(res => {
              getData();
            });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    };
    return {
      state,
      date,
      addAgent,
      getData,
      editAgent,
      deleteAgent
    };
  }
});
</script>
