<template>
  <q-form
    class="q-gutter-md"
    ref="agentsForm"
    id="agentsForm"
    @submit="submitForm"
  >
    <input type="hidden" name="_method" value="put" v-if="state.agent.id" />
    <div class="row q-col-gutter-sm">
      <div class="col-md-6">
        <q-input
          outlined
          v-model="state.agent.first_name"
          name="name"
          type="text"
          label="First Name"
          placeholder="First Name"
          :rules="[val => !!val || 'Field is required']"
        />
      </div>
      <div class="col-md-6">
        <q-input
          outlined
          v-model="state.agent.last_name"
          name="name"
          type="text"
          label="Last Name"
          placeholder="Last Name"
          :rules="[val => !!val || 'Field is required']"
        />
      </div>
      <div class="col-md-6">
        <q-input
          outlined
          v-model="state.agent.email"
          name="name"
          type="email"
          label="Email"
          placeholder="Email"
        />
      </div>
      <div class="col-md-6">
        <q-input
          outlined
          v-model="state.agent.phone"
          name="name"
          type="text"
          label="Phone"
          placeholder="Phone"
        />
      </div>
    </div>
    <div class="col-12 text-right q-mt-md">
      <q-btn flat label="Cancel" text-color="negative" v-close-popup />
      <q-btn type="submit" flat icon="save" label="Save" color="primary" />
    </div>
  </q-form>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  reactive,
  onMounted,
  watch,
  PropType,
  watchEffect,
  SetupContext

} from "@vue/composition-api";
declare module '@vue/composition-api' {
  interface SetupContext {
    readonly refs :{
      agentsForm:
      {
        reset:Function,
        validate: Function
        }
      }
  }
}
const validate = ():boolean => {

return true;
}
import { date } from "quasar";
import agentsMethods from "./../../mixins/agentsMethods";
import { agentInterface } from "./../../models/agentsModels";

export default defineComponent({
  name: "agentsform",
  components: {},
  props: {
    agent: {
      type: Object as PropType<agentInterface>,
      required: false
    }
  },
  setup(props, context) {
    onMounted(() => {
      if (props.agent!.id === undefined) {
        state.agent = {
          id: 0,
        first_name: "",
        last_name: "",
        email: "",
        phone: ""
        };
        context.refs.agentsForm.reset();
      }else
                state.agent = props.agent!;

    });

    function submitForm() {
      context.refs.agentsForm.validate().then((success:boolean )=>  {
        if (success) {
          if (props.agent!.id === undefined) {
            agentsMethods(context)
            .addAgent(state.agent)
            .then(res => {
              context.refs.agentsForm.reset();
              state.agent.first_name = "";
              state.agent.last_name = "";
              state.agent.email = "";
              state.agent.phone = "";
              context.emit("renewagents");
            });
          }else{
            agentsMethods(context)
            .updateAgent(state.agent)
            .then(res => {
              context.emit("renewagents");
            });
          }
        }
      });
    }
    const state = reactive({
      agent: <agentInterface>{
        id: 0,
        first_name: "",
        last_name: "",
        email: "",
        phone: ""
      }
    });
    return {
      state,
      date,
      submitForm
    };
  }
});
</script>
