<template>
  <q-layout view="hHr LpR lFf">
    <q-page class=" q-xs-mt-sm q-pt-md q-mb-xl">
      <div class="row q-pa-xl">
        <div class="col-12 col-sm-12">
          <!-- EL BREADCRUMB DEL COMPONENTE -->
          <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="clientes" />
          </q-breadcrumbs>
        </div>
        <div class="col-12 col-sm-12 text-right q-mb-md">
          <!-- BOTON PARA AGREGAR CLIENTE, TAMBIEN LLAMA AL COMPONENTE PROFILE, AL IGUAL QUE EL EDITAR EN LA TABLA DE RESULTADOS -->
          <q-btn
            color="primary"
            icon="add"
            label="Add Client"
            @click="addClient"
          />
        </div>
        <div class="col-12" show.search>
          <!-- SE IMPORTA LA CARD DE BUSQUEDA -->
          <search @newsearch="newSearch($event)"></search>
        </div>
        <div class="col-12 q-mt-xl" v-if="show.results">
          <!-- SE IMPORTA TABLA DE RESULTADOS -->
          <tableresults :results="state.results"></tableresults>
        </div>
      </div>
    </q-page>
  </q-layout>
</template>

<script lang="ts">
import search from "./search.vue";
import tableresults from "./tableresults.vue";

import { defineComponent, ref, computed, reactive } from "@vue/composition-api";
import { date } from "quasar";
export default defineComponent({
  name: "clients",
  components: { search, tableresults },
  setup(props, context) {
    const show = {
      profile: ref(false),
      search: ref(true),
      results: ref(true)
    };
    const addClient = () => {
      context.root.$router.push({ path: "/clients/profile" });
    };
    const state = reactive({
      results: new Array()
    });
    const results = reactive([]);
    const newSearch = (search: Array<[]>) => {
      state.results = search;
    };
    return {
      show,
      addClient,
      newSearch,
      state,
      context
    };
  }
});
</script>
