<template>
  <div class="row">
    <div class="col-12 col-sm-12">
      <span class="subtitleColor text-h4">Files</span>
      <q-btn
        color="primary"
        icon="add"
        class="float-right"
        label="Add File"
        @click="showForm()"
      />
    </div>
    <div class="col-12 col-sm-12 q-mt-xl">
      <div class="row q-col-gutter-md">
        <div
          class="col-md-3 text-center"
          v-for="(file, index) in props.files"
          :key="file.id"
        >
          <div class="file-attached" @click="showFile(file, index)">
            <q-icon name="attach_file" size="md" />
            {{ file.alias }}
          </div>
        </div>
      </div>
    </div>

    <q-dialog v-model="state.formFile" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-form
            class="q-gutter-md"
            ref="fileForm"
            id="fileForm"
            @submit="submitForm"
          >
            <input
              type="hidden"
              name="_method"
              value="put"
              v-if="state.fileId"
            />
            <input type="hidden" name="client_id" :value="id" />
            <div class="row q-col-gutter-sm">
              <div
                :class="{
                  'col-md-12': state.fileId,
                  'col-md-6': !state.fieldId
                }"
              >
                <q-input
                  outlined
                  v-model="state.name"
                  name="alias"
                  type="text"
                  label="Name"
                  placeholder="File name"
                  :rules="[val => !!val || 'Field is required']"
                />
              </div>
              <div class="col-md-6" v-if="!state.fileId">
                <q-file
                  name="file"
                  outlined
                  v-model="state.file"
                  label="File"
                  :rules="[val => !!val || 'Field is required']"
                  placeholder="Choose file"
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>
                </q-file>
              </div>
            </div>
            <div class="col-12 text-right q-mt-md">
              <q-btn flat label="Cancel" text-color="negative" v-close-popup />
              <q-btn
                type="submit"
                flat
                icon="save"
                label="Save"
                color="primary"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="state.show" persistent>
      <q-card>
        <q-card-actions align="right" class="q-gutter-md">
          <q-btn
            flat
            label="Close"
            v-close-popup
            @click="
              state.fileId = null;
              state.index = null;
            "
          />
          <q-btn
            icon="delete_forever"
            flat
            label="Delete file"
            color="negative"
            v-close-popup
            @click="deleteFile()"
          />
          <q-btn
            icon="edit"
            flat
            label="Edit"
            color="secondary"
            @click="showForm(props.files[state.index].alias)"
          />
          <q-btn
            type="a"
            icon="visibility"
            flat
            label="Show file"
            color="primary"
            :href="asset + state.fileRoute"
            target="_blank"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import axiosMethods from "./../../mixins/axiosMethodsComponent.js";
import { defineComponent, reactive } from "@vue/composition-api";
export default defineComponent({
  name: "files",
  props: {
    id: {
      type: String,
      required: true
    },
    files: {
      required: true
    }
  },

  setup(props, context) {
    const { errorHandler } = axiosMethods();
    const api = context.root.$store.state.general.apiUrl;
    const asset = context.root.$store.state.general.apiAssets;
    const state = reactive({
      formFile: false,
      nameFile: "New File",
      name: "",
      file: null,
      fileId: null,
      index: null,
      show: false,
      fileRoute: ""
    });

    function showForm(name) {
      console.log(name);
      state.name = name;
      state.formFile = true;
    }
    function submitForm() {
      context.refs.fileForm.validate().then(success => {
        if (success) {
          context.root.$store.commit("general/loading", true);
          const form = document.getElementById("fileForm");
          const data = new FormData(form);
          const route = state.fileId
            ? `${api}/auth/files/${state.fileId}`
            : `${api}/auth/files`;
          context.root.$axios
            .post(route, data)
            .then(response => {
              console.log(response.data);
              context.root.$store.commit("general/loading", false);
              if (response.data.success) {
                state.formFile = false;
                state.name = "";
                state.file = "";
                context.refs.fileForm.resetValidation();
                if (state.fileId) {
                  props.files[state.index].alias = response.data.data.alias;
                } else {
                  props.files.push(response.data.data.file);
                }
                context.root.$q.notify({
                  type: "positive",
                  message: response.data.message
                });
              }
            })
            .catch(error => {
              context.root.$store.commit("general/loading", false);
              errorHandler(error, context);
            });
        }
      });
    }

    function deleteFile() {
      let f = props.files[state.index];
      context.root.$q
        .dialog({
          title: f.alias,
          message: "do you really want to delete this file?",
          cancel: true,
          persistent: true,
          ok: {
            color: "negative",
            label: "Delete",
            flat: true
          }
        })
        .onOk(() => {
          context.root.$store.commit("general/loading", true);
          context.root.$axios
            .delete(`${api}/auth/files/${state.fileId}`)
            .then(response => {
              context.root.$store.commit("general/loading", false);
              if (response.data.success) {
                props.files.splice(state.index, 1);
                state.fileId = null;
                state.index = null;
                context.root.$q.notify({
                  type: "positive",
                  message: response.data.message
                });
              } else {
                context.root.$q.notify({
                  type: "negative",
                  message: response.data.message
                });
              }
            })
            .catch(error => {
              context.root.$store.commit("general/loading", false);
              errorHandler(error, context);
            });
        });
    }

    function showFile(file, index) {
      state.fileId = file.id;
      state.index = index;
      state.fileRoute = file.file_path;
      state.show = true;
    }

    return {
      state,
      showForm,
      submitForm,
      props,
      showFile,
      api,
      deleteFile,
      asset
    };
  }
});
</script>
