<template>
  <div class="row">
    <div class="col-12 col-sm-12">
      <span class="subtitleColor text-h4">Payments</span>
    </div>
    <div class="col-12 col-sm-12 q-mt-md">
      <q-input
        outlined
        type="textarea"
        v-model="description"
        min-height="10rem"
      />
      <q-btn
        color="green"
        icon="save"
        class="float-right q-mt-lg"
        label="Save"
        style="width: 11rem;"
        @click="save"
      />
    </div>
    <div class="col-12 col-sm-12 q-mt-md">
      <hr />
    </div>
  </div>
</template>

<script lang="ts">
import axiosMethods from "./../../mixins/axiosMethodsComponent.js";
import {
  defineComponent,
  ref,
  computed,
  onMounted
} from "@vue/composition-api";
import { date } from "quasar";
export default defineComponent({
  name: "files",
  /*props: {
      paymentid: {
        type: Number,
        required: true
      },
      desc: {
        type: String,
        required: true
      },
     },*/
  setup(props, context) {
    const { errorHandler } = axiosMethods();
    onMounted(() => {
      if (context.root.$route.params.id === undefined) {
        return;
      } else {
        getPayments(context.root.$route.params.id);
      }
    });

    const description = ref("");
    const id = ref("");
    const save = () => {
      context.root.$store.commit("general/loading", true);
      context.root.$axios
        .put(
          context.root.$store.state.general.apiUrl +
            "/auth/payments/" +
            context.root.$route.params.id,
          {
            data: description.value
          }
        )
        .then(
          response => {
            context.root.$q.notify({
              message: "Payment updated correctly",
              type: "positive"
            });
            context.root.$store.commit("general/loading", false);
          },
          error => {
            context.root.$store.commit("general/loading", false);
            return errorHandler(error, context);
          }
        )
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    };

    const getPayments = (id: String) => {
      context.root.$store.commit("general/loading", true);
      context.root.$axios
        .get(
          context.root.$store.state.general.apiUrl +
            "/auth/payments/" +
            context.root.$route.params.id,
          {}
        )
        .then(response => {
          description.value = response.data[0].description;
          context.root.$store.commit("general/loading", false);
        })
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    };
    return {
      save,
      description
    };
  }
});
</script>
