<template>
  <q-layout view="hHr LpR lFf">
    <q-page class="q-pt-md q-mb-xl">
      <div class="row q-pa-xl">
        <div class=" col-12 col-sm-12 space">
          <!-- EL BREADCRUMB DEL COMPONENTE -->
          <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Clients" to="/clients" />
            <q-breadcrumbs-el label="Profile" />
          </q-breadcrumbs>
        </div>
        <div class=" col-12 col-sm-12 text-right q-mb-lg space">
          <q-btn
            color="primary"
            icon="search"
            label="Return to search"
            @click="returnSearch()"
          />
        </div>
        <div
          :class="[
            $route.params.id !== undefined
              ? 'col-lg-9 col-12 space'
              : 'col-sm-12 space'
          ]"
        >
          <div class="row">
            <!-- COMPONENTE DEL FORM DEL CLIENTE -->
            <div class=" col-12 col-sm-12">
              <profileform
                :id="$route.params.id"
                :profile="state.client"
                @changecolor="changeColor($event)"
              ></profileform>
            </div>
            <!-- COMPONENTE PAYMENTS DEL CLIENTE -->
            <div
              class=" col-12 col-sm-12 q-mt-xl"
              v-if="$route.params.id !== undefined"
            >
              <payments></payments>
            </div>
            <!-- COMPONENTE FILES DEL CLIENTE -->
            <div
              class=" col-12 col-sm-12 q-mt-xl"
              v-if="$route.params.id !== undefined && state.client"
            >
              <files :id="$route.params.id" :files="state.client.files"></files>
            </div>
          </div>
        </div>
        <div
          class="col-12 col-lg-3 space"
          v-if="$route.params.id !== undefined"
        >
          <notes
            :id="$route.params.id"
            :color="state.color"
            :notes="state.notes"
          ></notes>
        </div>
      </div>
    </q-page>
  </q-layout>
</template>

<script lang="ts">
import {
  onMounted,
  defineComponent,
  ref,
  reactive
} from "@vue/composition-api";

import profileform from "./profileform.vue";
import files from "./files.vue";
import notes from "./notes/notes.vue";
import payments from "./payments.vue";
export default defineComponent({
  name: "profile",
  components: { profileform, files, payments, notes },
  setup(props, context) {
    let id = context.root.$route.params.id;
    const api = context.root.$store.state.general.apiUrl;
    const state = reactive({
      client: { files: null },
      files: null,
      color: "",
      notes: new Object()
    });
    onMounted(() => {
      if (context.root.$route.params.id === undefined) {
        //si no es para update entonces que busque en la DB
        return;
      } else {
        getClient();
      }
    });
    const returnSearch = () => {
      context.root.$router.push({ path: "/clients" });
    };
    function changeColor(color: string) {
      state.color = color;
    }
    function getClient() {
      context.root.$axios
        .get(`${api}/auth/clients/${id}`)
        .then(response => {
          context.root.$store.commit("general/loading", false);
          console.log(response.data);
          state.client = response.data.client;
          state.files = response.data.client.files;
          state.color = response.data.client.status.color_code;
          state.notes = response.data.client.notes;
        })
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    }
    return {
      state,
      returnSearch,
      changeColor
    };
  }
});
</script>
