<template>
  <div class="row">
    <q-card class="my-card shadow-3">
      <!-- HEADER DEL CARD -->
      <div
        class="headerForCard text-center"
        :style="{ backgroundColor: bgColorC }"
      >
        <span>Client Profile</span>
      </div>
      <q-card-section>
        <div class="row space">
          <div class=" col-12 col-sm-12">
            <div class="row">
              <div class="col-sm-12 space text-right text-h3 q-mb-md">
                {{ state.client.first_name + " " + state.client.last_name }}
              </div>
              <div class="  col-12 col-sm-12 space text-right q-mb-md">
                Created Date:
                {{
                  date.formatDate(
                    state.client.created_at,
                    "MMM DD, YYYY | HH:mm"
                  )
                }}
              </div>
              <!-- INICIO DEL FORM -->
              <div class=" col-12 col-md-3 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.first_name"
                  label="First Name"
                  :disable="state.editingForm"
                  dense
                />
              </div>
              <div class=" col-12 col-md-3 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.last_name"
                  label="Last Name"
                  :disable="state.editingForm"
                  dense
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-select
                  outlined
                  dense
                  :disable="state.editingForm"
                  emit-value
                  v-model="state.client.agent_id"
                  option-value="id"
                  map-options
                  option-label="first_name"
                  :options="info.agentsList"
                  label="Agents"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-select
                  outlined
                  dense
                  :disable="state.editingForm"
                  emit-value
                  v-model="state.client.status_id"
                  option-value="id"
                  map-options
                  option-label="name"
                  :options="info.statusesList"
                  label="Status"
                >
                  <template v-slot:option="scope">
                    <q-item
                      :style="{
                        backgroundColor:
                          scope.opt.id !== 0 ? scope.opt.color_code : '',
                        color: scope.opt.id !== 0 ? 'white' : 'black'
                      }"
                      v-bind="scope.itemProps"
                      v-on="scope.itemEvents"
                    >
                      <q-item-section>
                        <q-item-label v-html="scope.opt.name" />
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
            </div>
          </div>
          <div class=" col-12 col-sm-12">
            <div class="row">
              <div class=" col-12 col-md-6 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.address"
                  label="Address"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.state"
                  label="State"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.time_zone"
                  label="TimeZone"
                  dense
                  :disable="state.editingForm"
                />
              </div>
            </div>
          </div>
          <div class=" col-12 col-sm-12">
            <div class="row q-gutter-y-md">
              <div class=" col-12 col-md-3 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.phone"
                  label="Phone"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.email"
                  label="Email"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.phone2"
                  label="Phone 2"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 q-pa-sm">
                <q-input
                  outlined
                  v-model="state.client.email2"
                  label="Email 2"
                  dense
                  :disable="state.editingForm"
                />
              </div>
            </div>
          </div>
          <div class=" col-12 col-sm-12">
            <div class="row">
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.resort"
                  label="Resort"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.bedroom"
                  label="Bedroom"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.week"
                  label="week"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  prefix="$"
                  :hint="state.client.price | toNumero"
                  v-model="state.client.price"
                  label="Price"
                  dense
                  :disable="state.editingForm"
                >
                </q-input>
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.maintenance"
                  label="Maintenance"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.transfer_fee_concept"
                  label="Transfer fee concept"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  prefix="$"
                  :hint="state.client.transfer_fee | toNumero"
                  outlined
                  v-model="state.client.transfer_fee"
                  label="Transfer fee"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.contract_number"
                  label="Contract Number"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.buyer"
                  label="Buyer"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.escrow"
                  label="Escrow"
                  dense
                  :disable="state.editingForm"
                />
              </div>
              <div class=" col-12 col-md-3 space">
                <q-input
                  outlined
                  v-model="state.client.escrow_agent"
                  label="Escrow Agent"
                  dense
                  :disable="state.editingForm"
                />
              </div>
            </div>
          </div>
          <div class=" col-12 col-sm-12 space">
            <div
              class="text-h5"
              v-if="formError.length > 0"
              style="color: font-weight: bold"
            >
              Errors:
            </div>
            <div
              style="color: red"
              v-for="error in formError"
              :key="error.error"
            >
              <ul>
                <li>{{ error.error }}</li>
              </ul>
            </div>

            <q-btn
              color="primary"
              style="float: right"
              class="q-ml-md"
              icon="save"
              label="Save"
              size="md"
              @click="saveClient()"
            />
            <q-btn
              v-if="$route.params.id !== undefined && state.editingForm == true"
              color="green"
              style="float: right"
              icon="edit"
              label="Edit"
              class="q-ml-md"
              size="md"
              @click="state.editingForm = false"
            />
            <q-btn
              v-if="
                $route.params.id !== undefined && state.editingForm == false
              "
              color="green"
              style="float: right"
              icon="edit"
              label="Stop Edit"
              class="q-ml-md"
              size="md"
              @click="state.editingForm = true"
            />
            <q-btn
              v-if="
                $route.params.id !== undefined && !state.client.logical_delete
              "
              color="red"
              style="float: right"
              icon="delete"
              label="Delete"
              size="md"
              @click="deleteClient"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import {
  onMounted,
  defineComponent,
  ref,
  computed,
  watch,
  reactive,
  PropType
} from "@vue/composition-api";
import { parse } from "path";
import { date } from "quasar";
import { StringifyOptions } from "querystring";
import axiosMethods from "./../../mixins/axiosMethodsComponent.js";
import CurrencyDirective from "vue-currency-input";
export default defineComponent({
  name: "profileForm",
  components: {},
  filters: {
    toNumero(value: number) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return (
        "$ " + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " USD"
      );
    }
  },
  props: {
    id: {
      type: String,
      required: false
    },
    profile: {
      type: Object as PropType<{
        first_name: string;
        last_name: string;
        address: string;
        state: string;
        phone: string;
        email: string;
        phone2: string;
        email2: string;
        time_zone: string;
        resort: string;
        bedroom: string;
        price: string;
        week: string;
        status_id: number;
        transfer_fee_concept: string;
        transfer_fee: string;
        contract_number: string;
        maintenance: string;
        user_id: null;
        last_modified_user_id: null;
        favorites: false;
        agent_id: number;
        buyer: string;
        escrow: string;
        escrow_agent: string;
        created_at: string;
        logical_delete: boolean;
        status: {
          color_code: string;
        };
      }>,
      required: false
    }
  },
  setup(props, context) {
    const { errorHandler } = axiosMethods(); //variable manejador errores
    onMounted(() => {
      if (context.root.$route.params.id === undefined) {
        state.editingForm = false;
      }
      getData(); //obtiene la data para llenar el form
      if (props.profile) {
        bgColor.value = props.profile.status.color_code;
      }
    });
    watch(
      () => props.profile,
      (first, second) => {
        if (first) {
          state.client = first;
          bgColor.value = first.status.color_code;
        }
      }
    );

    const bgColorC = computed(() => {
      const colorito = info.statusesList.value.filter(
        x => x.id == state.client.status_id
      );
      console.log(colorito);
      if (colorito[0]) {
        return colorito[0].color_code;
      }
    });

    const toNumber = computed(() => {
      state.client.price = new Intl.NumberFormat("es-MX", {
        style: "currency",
        currency: "MXN"
      }).format(parseInt(state.client.price));
    });

    const state = reactive({
      editingForm: true,
      client: {
        first_name: "",
        last_name: "",
        address: "",
        state: "",
        phone: "",
        email: "",
        phone2: "",
        email2: "",
        time_zone: "",
        resort: "",
        bedroom: "",
        price: "",
        week: "",
        status_id: 1,
        transfer_fee_concept: "",
        transfer_fee: "",
        contract_number: "",
        maintenance: "",
        user_id: null,
        last_modified_user_id: null,
        favorites: false,
        agent_id: 0,
        escrow: "",
        buyer: "",
        escrow_agent: "",
        created_at: "",
        logical_delete: false
      }
    });
    /*const client = reactive({
                      //variables del client form
                      first_name: "",
                      last_name: "",
                      address: "",
                      state: "",
                      phone: "",
                      email: "",
                      phone2: "",
                      email2: "",
                      time_zone: "",
                      resort: "",
                      bedroom: "",
                      price: "",
                      week: "",
                      status_id: 1,
                      transfer_fee_concept: "",
                      transfer_fee: 0,
                      contact_number: "",
                      maintenance: "",
                      user_id: null,
                      last_modified_user_id: null,
                      favorites: false,
                    });*/
    var formError = ref(new Array());
    const bgColor = ref("#000000");
    const info = {
      statusesList: ref(new Array()),
      agentsList: ref(new Array())
    };

    //METODO QUE TRAE LA INFO PARA LLENAR LOS SELECTS
    const getData = () => {
      context.root.$store.commit("general/loading", true);
      context.root.$axios
        .get(context.root.$store.state.general.apiUrl + "/auth/statuses", {})
        .then(response => {
          context.root.$store.commit("general/loading", false);
          info.statusesList.value = response.data.data;
        })
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });

      context.root.$axios
        .get(context.root.$store.state.general.apiUrl + "/auth/agents", {})
        .then(response => {
          context.root.$store.commit("general/loading", false);
          info.agentsList.value = response.data;
          info.agentsList.value.unshift({
            id: 0,
            first_name: "No Agent"
          });
        })
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    };
    const getClient = (id: string) => {
      context.root.$store.commit("general/loading", true);

      context.root.$axios
        .get(
          context.root.$store.state.general.apiUrl + "/auth/clients/" + id,
          {}
        )
        .then(response => {
          context.root.$store.commit("general/loading", false);

          state.client = response.data.client;
          bgColor.value = response.data.color.color_code;
        })
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    };

    const saveClient = () => {
      formError.value = new Array();
      if (
        state.client.first_name == "" ||
        state.client.last_name == "" ||
        state.client.first_name == null ||
        state.client.last_name == null
      ) {
        formError.value.push({
          error: "Please, fill First Name and Last Name"
        });
      }
      if (
        (state.client.phone == "" || state.client.phone == null) &&
        (state.client.email == "" || state.client.email == null) &&
        (state.client.phone2 == "" || state.client.phone2 == null) &&
        (state.client.email2 == "" || state.client.email2 == null)
      ) {
        formError.value.push({
          error:
            "You have to fill at least one information contact, Phone or Email"
        });
      }
      if (formError.value.length > 0) {
        return;
      }
      context.root.$q
        .dialog({
          title:
            context.root.$route.params.id === undefined
              ? "New Client"
              : "Update Client",
          message: "Do you want to continue?",
          ok: {
            push: true
          },
          cancel: {
            push: true,
            color: "negative"
          },
          persistent: true
        })
        .onOk(() => {
          if (context.root.$route.params.id === undefined) {
            sendForm();
          } else {
            sendFormUpdate(context.root.$route.params.id);
          }
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
      //context.root.$store.commit("general/dialog", true);
    };
    const sendFormUpdate = (id: string) => {
      context.root.$store.commit("general/loading", true);
      const data = state.client;
      context.root.$axios
        .put(context.root.$store.state.general.apiUrl + "/auth/clients/" + id, {
          data
        })
        .then(
          response => {
            bgColor.value = response.data.status.color_code; //info.statusesList.value.filter(x => x.id == client.value.status_id)[0].color_code;

            context.emit("changecolor", response.data.status.color_code);
            context.root.$store.commit("general/loading", false);
            context.root.$q.notify({
              message: "Client updated correctly",
              type: "positive"
            });
          },
          error => {
            context.root.$store.commit("general/loading", false);
            return errorHandler(error, context);
          }
        )
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    };
    const sendForm = () => {
      const data = state.client;
      console.log(data);
      context.root.$store.commit("general/loading", true);

      context.root.$axios
        .post(context.root.$store.state.general.apiUrl + "/auth/clients", {
          data
        })
        .then(
          response => {
            context.root.$store.commit("general/loading", false);
            console.log(response.data);
            if (response.data.success === false) {
              context.root.$q.notify({
                message: response.data.message,
                type: "negative"
              });
            } else {
              context.root.$q.notify({
                message: "Client added correctly",
                type: "positive"
              });
              clearForm();
            }
          },
          error => {
            context.root.$store.commit("general/loading", false);
            return errorHandler(error, context);
          }
        )
        .catch(error => {
          console.log(error);
          context.root.$store.commit("general/loading", false);
          // return errorHandler(error.response.status, error.response.data);
        });
    };
    const returnSearch = () => {
      context.root.$router.push({
        path: "/clients"
      });
    };
    const deleteClient = () => {
      context.root.$q
        .dialog({
          title: "DELETE CLIENT",
          message: "Are you sure?",
          ok: {
            push: true
          },
          cancel: {
            push: true,
            color: "negative"
          },
          persistent: true
        })
        .onOk(() => {
          sendDelete(context.root.$route.params.id);
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    };
    const sendDelete = (id: string) => {
      context.root.$store.commit("general/loading", true);
      context.root.$axios
        .delete(
          context.root.$store.state.general.apiUrl + "/auth/clients/" + id,
          {}
        )
        .then(
          response => {
            context.root.$store.commit("general/loading", false);
            context.root.$q.notify({
              message: "Client deleted correctly",
              type: "positive"
            });
            context.root.$router.push({
              path: "/clients"
            });
          },
          error => {
            context.root.$store.commit("general/loading", false);
            return errorHandler(error, context);
          }
        )
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    };
    const colorBySelec = (select: object) => {
      console.log(select);
      return "e";
    };
    const clearForm = () => {
      state.client.first_name = "";
      state.client.last_name = "";
      state.client.address = "";
      state.client.state = "";
      state.client.phone = "";
      state.client.email = "";
      state.client.phone2 = "";
      state.client.email2 = "";
      state.client.time_zone = "";
      state.client.resort = "";
      state.client.bedroom = "";
      state.client.price = "";
      state.client.week = "";
      state.client.status_id = 1;
      state.client.transfer_fee_concept = "";
      state.client.transfer_fee = "";
      state.client.contract_number = "";
      state.client.maintenance = "";
      state.client.user_id = null;
      state.client.last_modified_user_id = null;
      state.client.favorites = false;
      state.client.agent_id = 0;
      state.client.escrow = "";
      state.client.buyer = "";
      state.client.escrow_agent = "";
    };
    const money = {
      decimal: ".",
      thousands: ",",
      prefix: "$ ",
      suffix: " #",
      precision: 2,
      masked: true /* doesn't work with directive */
    };
    const options = computed(() => {
      return {
        locale: "en",
        currency: "USD",
        valueAsInteger: true
      };
    });
    return {
      state,
      info,
      saveClient,
      returnSearch,
      context,
      formError,
      deleteClient,
      bgColorC,
      colorBySelec,
      date,
      toNumber,
      money,
      options
    };
  }
});
</script>
