<template>
  <div>
    <q-card class="my-card">
      <q-card-section>
        <div class="row q-col-gutter-sm">
          <div class="col-12 text-center text-h6">Clients Search</div>
          <div class="col-12 col-sm-4">
            <q-input
              outlined
              dense
              v-model="filters.field"
              label="Name, phone or resort"
              v-on:keyup.13="enterUP"
            >
              <template v-slot:append>
                <q-icon class="cursor-pointer" />
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
          <div class="col-12  col-sm-2">
            <q-btn color="primary" label="Search" @click="makeSearch" />
          </div>
          <div class="col-12 ">
            <a
              href="javascript:;"
              @click="makeSearch2"
              style="color: #1976d2; float: right;"
              >Get all clients</a
            >
          </div>
          <div class="col-sm-12">
            <q-toggle v-model="filters.show" label="Advanced Filters" />
            <q-slide-transition>
              <div v-show="filters.show">
                <div class="row q-mt-md q-gutter-md q-mr-md">
                  <div class="col-12  col-sm-4 col-lg-2 col-xl-2">
                    <q-input
                      dense
                      label="Initial Input date"
                      @click="showInputDate()"
                      outlined
                      v-model="filters.dateFrom"
                    >
                      <q-popup-proxy
                        ref="qDateProxy"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          mask="DD-MM-YYYY"
                          :locale="myLocale"
                          v-model="filters.dateFrom"
                        />
                      </q-popup-proxy>
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer"> </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12  col-sm-4 col-lg-2 col-xl-2">
                    <q-input
                      dense
                      label="Final Input Date"
                      outlined
                      v-model="filters.dateTo"
                    >
                      <q-popup-proxy
                        ref="qDateProxy2"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          mask="DD-MM-YYYY"
                          :locale="myLocale"
                          v-model="filters.dateTo"
                        />
                      </q-popup-proxy>
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer"> </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12  col-sm-4 col-lg-2 col-xl-2">
                    <q-select
                      outlined
                      dense
                      v-model="filters.statusID"
                      :options="info.statusesList"
                      emit-value
                      option-value="id"
                      map-options
                      option-label="name"
                      label="Status"
                    >
                      <template v-slot:option="scope">
                        <q-item
                          :style="{
                            backgroundColor:
                              scope.opt.id !== 0 ? scope.opt.color_code : '',
                            color: scope.opt.id !== 0 ? 'white' : 'black'
                          }"
                          v-bind="scope.itemProps"
                          v-on="scope.itemEvents"
                        >
                          <q-item-section>
                            <q-item-label v-html="scope.opt.name" />
                          </q-item-section>
                        </q-item>
                      </template>
                    </q-select>
                  </div>
                </div>
              </div>
            </q-slide-transition>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  reactive,
  onMounted
} from "@vue/composition-api";
import { date } from "quasar";
import searchMethods from "./../../mixins/searchMethods";
import { filtersInterface } from "./../../models/searchModels";

export default defineComponent({
  name: "search",

  setup(props, context) {
    onMounted(() => {
      getData(); //obtiene la data para llenar los selects
    });

    const myLocale = {
      /* starting with Sunday */
      days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
      daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
      months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
        "_"
      ),
      monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
      firstDayOfWeek: 1
    };
    const newDate = new Date();
    const fromDate = date.formatDate(
      date.buildDate({
        year: newDate.getFullYear(),
        month: newDate.getMonth() + 1,
        date: 1
      }),
      "DD-MM-YYYY"
    );
    const toDate = date.formatDate(
      date.buildDate({
        year: newDate.getFullYear(),
        month: newDate.getMonth() + 2,
        date: 0
      }),
      "DD-MM-YYYY"
    );
    const filters: filtersInterface = reactive({
      show: false,
      dateFrom: fromDate,
      dateTo: toDate,
      field: "",
      statusID: 0
    });
    const filters2: filtersInterface = reactive({
      show: false,
      dateFrom: fromDate,
      dateTo: toDate,
      field: "",
      statusID: 0
    });
    const enterUP = (event: { keyCode: number }) => {
      console.log(event);
      if (event.keyCode === 13) {
        makeSearch();
      }
    };
    const info = reactive({
      statusesList: [
        {
          id: 0,
          name: "",
          color_code: ""
        }
      ]
    });
    const getData = () => {
      searchMethods(context)
        .getData()
        .then(res => {
          info.statusesList = res;
          info.statusesList.unshift({
            id: 0,
            name: "All",
            color_code: "#000000"
          });
        });
    };
    const makeSearch2 = () => {
      searchMethods(context)
        .markeSearch(filters2)
        .then(res => {
          context.emit("newsearch", res);
        });
    };
    const makeSearch = () => {
      searchMethods(context)
        .markeSearch(filters)
        .then(res => {
          context.emit("newsearch", res);
        });
    };
    const qDateProxy = ref(null);
    const showInputDate = () => {
      console.log(qDateProxy.value);
      //qDateProxy.value.show();
    };

    return {
      filters,
      myLocale,
      makeSearch,
      info,
      context,
      enterUP,
      showInputDate,
      makeSearch2
    };
  }
});
</script>
