<template>
  <div>
    <q-table
      :title="dataResults.length + ' client(s) found'"
      :data="dataResults"
      :columns="columns"
      row-key="Nombre"
      :pagination.sync="pagination"
      hide-pagination
      :filter="table.filter"
    >
      <template v-slot:body-cell-id="props">
        <q-td key="id" :props="props" class="q-gutter-xs">
          <strong> # {{ props.row.id }}</strong>
        </q-td>
      </template>
      <template v-slot:body-cell-status_id="props">
        <q-td key="status_id" :props="props" class="q-gutter-xs">
          <div
            class="cursor-pointer	"
            :style="{
              backgroundColor: props.row.status.color_code,
              width: '25px',
              height: '25px'
            }"
            @click="clientsByStatus(props.row.status.id)"
          >
            <q-tooltip>{{ props.row.status.name }}</q-tooltip>
          </div>
        </q-td>
      </template>
      <template v-slot:body-cell-first_name="props">
        <q-td
          key="first_name"
          :props="props"
          class="q-gutter-xs cursor-pointer"
          @click="editClient(props.row.id)"
          >{{ props.row.first_name }} {{ props.row.last_name }}</q-td
        >
      </template>
      <template v-slot:body-cell-phone="props">
        <q-td
          key="phone"
          :props="props"
          class="q-gutter-xs cursor-pointer"
          @click="editClient(props.row.id)"
          >{{ props.row.phone }}
          <span v-if="props.row.phone2 !== null && props.row.phone2 !== ''">
            | </span
          >{{ props.row.phone2 }}</q-td
        >
      </template>
      <template v-slot:body-cell-last_update="props">
        <q-td
          key="last_update"
          :props="props"
          class="q-gutter-xs cursor-pointer"
          @click="editClient(props.row.id)"
          >{{
            date.formatDate(
              lastUpdatedDate(props.row).date,
              "MMM DD, YYYY | HH:mm"
            )
          }}
        </q-td>
      </template>
      <template v-slot:body-cell-updated_by="props">
        <q-td
          key="updated_by"
          :props="props"
          class="q-gutter-xs cursor-pointer"
          @click="editClient(props.row.id)"
          >{{ lastUpdatedBy(props.row).user }}</q-td
        >
      </template>
      <template v-slot:body-cell-files="props">
        <q-td
          key="files"
          :props="props"
          class="q-gutter-xs cursor-pointer"
          @click="editClient(props.row.id)"
          >{{ props.row.files.length }}</q-td
        >
      </template>
      <template v-slot:body-cell-follow_up="props">
        <q-td key="follow_up" :props="props" class="q-gutter-xs">
          <q-icon
            class="text-primary"
            name="info"
            style="font-size: 2em; cursor: pointer"
          >
            <q-popup-proxy
              transition-show="flip-up"
              transition-hide="flip-down"
            >
              <q-banner>
                <span
                  v-if="props.row.notes.length > 0"
                  v-html="props.row.notes[0].note"
                  >{{ props.row.notes[0].note }}</span
                >
                <span v-else>No notes yet.</span>
              </q-banner>
            </q-popup-proxy>
          </q-icon>
        </q-td>
      </template>
      <template v-slot:body-cell-created_at="props">
        <q-td
          key="created_at"
          :props="props"
          class="q-gutter-xs cursor-pointer"
          @click="editClient(props.row.id)"
          >{{ date.formatDate(props.row.created_at, "MMM DD, YYYY | HH:mm") }}
        </q-td>
      </template>
      <template v-slot:body-cell-acciones="props">
        <q-td key="acciones" :props="props" class="q-gutter-xs">
          <q-btn
            :color="props.row.favorites ? 'warning' : 'white'"
            :text-color="props.row.favorites ? 'white' : 'warning'"
            icon="star"
            size="sm"
            @click="addToFavorites(props.row)"
          >
            <q-tooltip>{{
              props.row.favorites ? "Remove from favorites" : "Add to favorites"
            }}</q-tooltip>
          </q-btn>
          <q-btn
            color="primary"
            icon="edit"
            size="sm"
            @click="editClient(props.row.id)"
          >
            <q-tooltip>Edit profile</q-tooltip>
          </q-btn>
        </q-td>
      </template>
    </q-table>
    <div class="row justify-center q-mt-md">
      <q-pagination
        v-model="pagination.page"
        color="grey-8"
        :max="pagesNumber"
        size="sm"
      />
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  onMounted,
  watch,
  reactive
} from "@vue/composition-api";
import { date } from "quasar";
import tableResultsMethods from "./../../mixins/tableResultsMethods";

export default defineComponent({
  name: "tableresults",
  props: {
    results: {
      type: Array,
      required: false
    },
    favorites: {
      type: Array,
      required: false
    }
  },
  setup(props, context) {
    onMounted(() => {
      if (context.root.$route.params.status === undefined) {
        if (props.favorites == undefined) {
          tableResultsMethods(context)
            .getData()
            .then(res => {
              state.rows = res;
            });
        } else {
          state.rows = props.favorites;
        }
      } else {
        let string = context.root.$route.params.status.replace(/-/g, " ");
        tableResultsMethods(context)
          .getClientsByStatus(string)
          .then(res => {
            state.rows = res;
          });
      }
    });
    const table = {
      filter: ""
    };
    const columns = [
      {
        name: "id",
        label: "Client #",
        field: "id",
        sortable: true,
        align: "left"
      },
      {
        name: "status_id",
        label: "Status",
        field: "status_id",
        sortable: true,
        align: "left"
      },
      {
        name: "first_name",
        align: "center",
        label: "Name",
        field: "first_name",
        sortable: true
      },
      { name: "phone", label: "Phone", field: "phone", sortable: true },
      {
        name: "last_update",
        label: "Last Update",
        field: "last_update",
        sortable: true
      },
      {
        name: "updated_by",
        label: "Updated By",
        field: "updated_by",
        sortable: true
      },
      { name: "follow_up", label: "Follow Up", field: "follow_up" },
      { name: "files", label: "Files", field: "files" },
      {
        name: "created_at",
        label: "Created At",
        field: "created_at",
        sortable: true
      },

      { name: "acciones", label: "", field: "acciones" }
    ];
    const state = reactive({
      rows: new Array()
    });
    watch(
      () => props.results,
      (first, second) => {
        if (first) {
          state.rows = first; //.sort((a, b) => parseFloat(b.id) - parseFloat(a.id));
        }
      }
    );
    watch(
      () => props.favorites,
      (first, second) => {
        if (first) {
          state.rows = first; //.sort((a, b) => parseFloat(b.id) - parseFloat(a.id));
        }
      }
    );
    const pagination = {
      sortBy: "desc",
      descending: false,
      page: 1,
      rowsPerPage: 10
      // rowsNumber: xx if getting data from a server
    };
   
    const dataResults = computed(() =>{
      let newData = < Array<object> >[]; 
       state.rows.forEach(element => {
         if (!element.logical_delete) {
           newData.push(element);
         }
       })
       return newData;
    });
     const pagesNumber = computed(() =>
      Math.ceil(dataResults.value.length / pagination.rowsPerPage)
    );
   

    const lastUpdatedDate = (row: {
      updated_at: string;
      user_updated: { name: string };
      payments: [{ updated_at: string; user_updated: { name: string } }];
      notes_order_updated: [
        { updated_at: string; user_updated: { name: string } }
      ];
      files_order_updated: [
        { updated_at: string; user_updated: { name: string } }
      ];
    }) => {
      let result = tableResultsMethods(context).lastUpdate(row);
      return result[0];
    };
    const lastUpdatedBy = (row: {
      updated_at: string;
      user_updated: { name: string };
      payments: [{ updated_at: string; user_updated: { name: string } }];
      notes_order_updated: [
        { updated_at: string; user_updated: { name: string } }
      ];
      files_order_updated: [
        { updated_at: string; user_updated: { name: string } }
      ];
    }) => {
      let result = tableResultsMethods(context).lastUpdate(row);
      return result[0];
    };
    const editClient = (id: string) => {
      window.open(
        context.root.$store.state.general.frontUrl + "/#/clients/profile/" + id,
        "_blank"
      );
    };
    const addToFavorites = (row: { id: number; favorites: boolean }) => {
      let result = tableResultsMethods(context)
        .addToFavorites(row)
        .then(res => {
          row.favorites = res;
        });
    };
    const clientsByStatus = (id: string) => {
      window.open(
        context.root.$store.state.general.frontUrl + "/#/clients/status/" + id,
        "_blank"
      );
    };

    return {
      context,
      pagination,
      state,
      columns,
      pagesNumber,
      table,
      lastUpdatedDate,
      lastUpdatedBy,
      date,
      editClient,
      addToFavorites,
      clientsByStatus,
      dataResults
    };
  }
});
</script>
