<template>
  <q-page padding>
    <div class="row">
      <div class="col-12 col-sm-12">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el label="Categories" />
        </q-breadcrumbs>
      </div>
      <div class="col-12 col-md-12 text-right q-gutter-sm">
        <q-btn
          color="secondary"
          icon="reorder"
          label="Save"
          @click="saveOrder()"
          v-if="state.rearranging"
        />
        <q-btn
          color="secondary"
          icon="reorder"
          label="Reorder"
          @click="state.rearranging = true"
          v-if="!state.rearranging"
        />
        <q-btn
          color="primary"
          icon="add"
          label="Add category"
          @click="showForm()"
        />
      </div>
      <div class="col-12  col-md-12 text-right">
        <q-table
          title="Statuses"
          :data="statuses"
          :columns="columns"
          row-key="name"
          class="q-mt-lg"
          :pagination.sync="pagination"
          v-if="!state.rearranging"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="name" :props="props">{{ props.row.name }}</q-td>
              <q-td key="color_code" :props="props">
                <q-btn
                  size="sm"
                  :style="`background: ${props.row.color_code}; color: white`"
                  text-color="white"
                  :label="props.row.color_code"
                />
              </q-td>
              <q-td key="actions" :props="props" class="q-gutter-xs">
                <q-btn
                  color="primary"
                  icon="edit"
                  size="sm"
                  @click="editCategory(props.row, statuses.indexOf(props.row))"
                />
                <q-btn
                  color="negative"
                  icon="delete_forever"
                  size="sm"
                  @click="
                    deleteCategory(statuses.indexOf(props.row), props.row.id)
                  "
                />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>

    <div class="row q-mt-lg" v-if="state.rearranging">
      <div class="col-sm-12">
        <q-list bordered separator>
          <draggable v-model="statuses" draggable=".q-item">
            <q-item
              clickable
              v-ripple
              v-for="(status, index) in statuses"
              :key="index"
              :style="{
                background: status.color_code,
                borderBottom: 'solid 1px white'
              }"
            >
              <q-item-section class="text-white">{{
                status.name
              }}</q-item-section>
            </q-item>
          </draggable>
        </q-list>
      </div>
    </div>

    <q-dialog v-model="state.formCategory" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-form
            class="q-gutter-md"
            ref="categoriesForm"
            id="categoriesForm"
            @submit="submitForm"
          >
            <input
              type="hidden"
              name="_method"
              value="put"
              v-if="state.categoryId"
            />
            <div class="row q-col-gutter-sm">
              <div class="col-12">
                <h6 class="q-my-md">{{ state.nameCategory }}</h6>
              </div>
              <div class="col-md-6">
                <q-input
                  outlined
                  v-model="state.name"
                  name="name"
                  type="text"
                  label="Color"
                  placeholder="Color name"
                  :rules="[val => !!val || 'Field is required']"
                />
              </div>
              <div class="col-md-6">
                <q-input
                  name="color_code"
                  outlined
                  v-model="state.color"
                  readonly
                  :rules="[val => !!val || 'Field is required']"
                >
                  <template v-slot:append>
                    <q-icon name="colorize" class="cursor-pointer">
                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-color v-model="state.color" no-header no-footer />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>
            <div class="col-12 text-right q-mt-md">
              <q-btn flat label="Cancel" text-color="negative" v-close-popup />
              <q-btn
                type="submit"
                flat
                icon="save"
                label="Save"
                color="primary"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import axiosMethods from "./../../mixins/axiosMethodsComponent.js";
import draggable from "vuedraggable";
import {
  defineComponent,
  onMounted,
  reactive,
  ref
} from "@vue/composition-api";
import { stat } from "fs";

export default defineComponent({
  name: "categories",
  components: { draggable },
  setup(props, context) {
    const { errorHandler } = axiosMethods();
    const state = reactive({
      formCategory: false,
      name: "",
      color: "",
      nameCategory: "New Category",
      categoryId: null,
      index: null,
      rearranging: false
    });

    onMounted(() => {
      getCategories();
    });

    const api = context.root.$store.state.general.apiUrl;
    const statuses = ref([]);
    const columns = [
      { name: "name", label: "Name", sortable: true, align: "left" },
      { name: "color_code", label: "Color", align: "left" },
      { name: "actions", label: "Actions" }
    ];

    const getCategories = () => {
      context.root.$store.commit("general/loading", true);
      context.root.$axios
        .get(`${api}/auth/statuses`)
        .then(response => {
          console.log(response);
          context.root.$store.commit("general/loading", false);
          if (response.data.success) {
            statuses.value = response.data.data;
          }
        })
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    };

    function showForm(name) {
      name
        ? (state.nameCategory = name)
        : (state.nameCategory = "New Category");
      state.formCategory = true;
    }

    function submitForm() {
      context.refs.categoriesForm.validate().then(success => {
        if (success) {
          context.root.$store.commit("general/loading", true);
          const form = document.getElementById("categoriesForm");
          const data = new FormData(form);
          const route = state.categoryId
            ? `${api}/auth/statuses/${state.categoryId}`
            : `${api}/auth/statuses`;
          context.root.$axios
            .post(route, data)
            .then(response => {
              context.root.$store.commit("general/loading", false);
              if (response.data.success) {
                state.formCategory = false;
                state.name = "";
                state.color = "";
                context.refs.categoriesForm.reset();
                if (state.categoryId) {
                  statuses.value[state.index].name =
                    response.data.data.status.name;
                  statuses.value[state.index].color_code =
                    response.data.data.status.color_code;
                } else {
                  statuses.value.push(response.data.data.status);
                }
                context.root.$q.notify({
                  type: "positive",
                  message: response.data.message
                });
              }
            })
            .catch(error => {
              context.root.$store.commit("general/loading", false);
              errorHandler(error, context);
            });
        }
      });
    }

    function deleteCategory(index, id) {
      let cat = statuses.value[index];
      this.$q
        .dialog({
          title: cat.name,
          message: "do you really want to delete this category?",
          cancel: true,
          persistent: true,
          ok: {
            color: "negative",
            label: "Delete",
            flat: true
          }
        })
        .onOk(() => {
          context.root.$store.commit("general/loading", true);
          context.root.$axios
            .delete(`${api}/auth/statuses/${id}`)
            .then(response => {
              context.root.$store.commit("general/loading", false);
              if (response.data.success) {
                statuses.value.splice(index, 1);
                context.root.$q.notify({
                  type: "positive",
                  message: response.data.message
                });
              } else {
                context.root.$q.notify({
                  type: "negative",
                  message: response.data.message
                });
              }
            })
            .catch(error => {
              context.root.$store.commit("general/loading", false);
              errorHandler(error, context);
            });
        });
    }

    function editCategory(category, index) {
      showForm(category.name);
      state.index = index;
      state.name = category.name;
      state.color = category.color_code;
      state.categoryId = category.id;
    }

    function saveOrder() {
      context.root.$store.commit("general/loading", true);

      const route = `${api}/auth/statuses/reorder`;
      let data = [];
      statuses.value.forEach((item, index) => {
        let value = {};
        value["id"] = item.id;
        value["order"] = index;
        data.push(value);
      });
      context.root.$axios.post(route, data).then(response => {
        if (response.data.success) {
          context.root.$q.notify({
            type: "positive",
            message: response.data.message
          });

          location.reload();
        }
      });
    }

    const pagination = {
      sortBy: "desc",
      descending: false,
      page: 1,
      rowsPerPage: 20
      // rowsNumber: xx if getting data from a server
    };

    return {
      statuses,
      columns,
      showForm,
      state,
      submitForm,
      deleteCategory,
      editCategory,
      saveOrder,
      pagination
    };
  }
});
</script>
