<template>
  
</template>

<script>
import { defineComponent, onMounted, ref } from '@vue/composition-api';
export default defineComponent ({
    name: "createCategory",
    
})
</script>

<style>

</style>