<template>
  <q-layout view="hHr LpR lFf">
    <q-page class="q-pt-md q-mb-xl">
      <div class="row q-pa-xl q-pt">
        <div class="col-sm-12 space">
          <span class="text-h6">Status List</span>
        </div>

        <!-- SE CREA EL V FOR DE LOS BOTONES DEPENDIENOD LOS STATUS-->
        <div
          class="col-md-2  col-sm-4 col-xs-12 q-mb-lg space"
          v-for="color in state.listStatuses"
          :key="color.id"
        >
          <q-btn
            :style="{
              backgroundColor: color.color_code,
              color: 'white',
              width: '100%'
            }"
            class="q-mt-md "
            :label="color.name"
            @click="clientsByStatus(color.id)"
          />
        </div>

        <div class="col-12 q-mt-xl space" v-if="state.favorites.length > 0">
          <span class="text-h6 ">Featured clients</span>
          <!-- SE IMPORTA TABLA DE RESULTADOS DONDE MUESTRA LOS CLIENTES MARCADOS COMO FAVORITOS-->
          <tableresults
            class="q-mt-md"
            :favorites="state.favorites"
          ></tableresults>
        </div>
      </div>
    </q-page>
  </q-layout>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  onMounted,
  reactive,
  computed
} from "@vue/composition-api";
import dashboardMethods from "../mixins/dashboardMethods";
import { date } from "quasar";
import tableresults from "./clients/tableresults.vue";

export default defineComponent({
  name: "PageIndex",
  components: { tableresults },
  setup(props, context) {
    onMounted(() => {
      getData(); //obtiene la data para llenar los selects
    });
    const state = reactive({
      listStatuses: [
        {
          id: "",
          color_code: "",
          name: ""
        }
      ],
      favorites: []
    });

    const getData = () => {
      dashboardMethods(context)
        .getData()
        .then(res => {
          /* info.statusesList = res;
          info.statusesList.unshift({
            id: 0,
            name: "All",
            color_code: "#000000",
          });
          */
          state.listStatuses = res.statuses;
          state.favorites = res.favorites;
          // context.root.$store.commit("general/statuses", res.statuses);
        });
    };
    const clientsByStatus = (id: string) => {
      window.open(
        context.root.$store.state.general.frontUrl + "/#/clients/status/" + id,
        "_blank"
      );
    };

    return { state, context, date, clientsByStatus };
  }
});
</script>
