<template>
  <div class="row">
    <div class="col-12  col-sm-12">
      <q-card>
        <div
          class="headerForCard text-center"
          :style="{ backgroundColor: reacProps.bgColor }"
        >
          <span>Notes</span>
        </div>
        <q-card-section>
          <div class="row">
            <div class="col-12  col-sm-12">
              <q-btn
                color="primary"
                icon="add"
                class="float-right"
                label="Add Note"
                style="width: 11rem;"
                @click="state.showModal = !state.showModal"
              />
            </div>

            <div class="row" v-if="state.showModal">
              <div class="col-12 col-sm-12 q-mt-md">
                <q-editor
                  v-model="state.newNote"
                  min-height="10rem"
                  style="max-width: 100%"
                />
              </div>
              <div class="col-12 col-sm-12 q-mt-md">
                <q-btn
                  v-model="state.newNote"
                  class="float-right"
                  icon="save"
                  label="Save"
                  color="primary"
                  @click="addNote()"
                />
              </div>
            </div>
            <div
              class="col-12 col-sm-12 q-mt-md"
              v-for="note in reacProps.allNotes"
              :key="note.id"
            >
              <note
                :note="note"
                :color="reacProps.bgColor"
                @deleteNote="deleteNotes($event)"
              ></note>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
    <!-- MODAL PARA AGREGAR UNA NOTA-->
    <q-dialog position="top">
      <q-card>
        <q-card-section class="row items-center">
          <div class="row">
            <div class="col-12 col-sm-12">
              <span class="text-h6">Add Note</span>
            </div>
            <div class="col-12 col-sm-12 q-mt-md">
              <q-editor v-model="state.newNote" min-height="10rem" />
            </div>
            <div class="col-12 col-sm-12 q-mt-md">
              <q-btn
                v-model="state.newNote"
                class="float-right"
                flat
                icon="save"
                label="Save"
                color="primary"
                @click="addNote()"
              />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  onMounted,
  reactive,
  watch
} from "@vue/composition-api";
import notesMethods from "./../../../mixins/notesMethods";
import { date } from "quasar";
import note from "./note.vue";
import { propsInterface } from "./../../../models/notesModels";

export default defineComponent({
  name: "notes",
  props: {
    id: {
      type: String,
      required: true
    },
    notes: {
      type: Object,
      required: false
    },
    color: {
      type: String,
      required: true
    }
  },
  components: {
    note
  },
  setup(props, context) {
    onMounted(() => {
      /*let response = notesMethods(context).getData(props.id);
            notes.value = response.notes;*/
    });

    const state = reactive({
      showModal: false,
      newNote: ""
    });
    const reacProps: propsInterface = reactive({
      bgColor: "#000000",
      client_id: "",
      allNotes: []
    });

    watch(
      () => props.notes,
      (first, second) => {
        if (first) {
          reacProps.allNotes = first; //.sort((a, b) => parseFloat(b.id) - parseFloat(a.id));
        }
      }
    );
    watch(
      () => props.color,
      (first, second) => {
        if (first) {
          reacProps.bgColor = first;
        }
      }
    );
    watch(
      () => props.id,
      (first, second) => {
        if (first) {
          reacProps.client_id = first;
        }
      }
    );
    async function prueba() {
      const test = await notesMethods(context).addNote(props.id, state.newNote);
      return test;
    }
    const addNote = () => {
      notesMethods(context)
        .addNote(props.id, state.newNote)
        .then(res => {
          reacProps.allNotes = res;
          state.showModal = false;
          state.newNote = "";
        });
    };
    const deleteNotes = (id: number) => {
      notesMethods(context)
        .deleteNote(id)
        .then(res => {
          reacProps.allNotes = res;
        });
    };

    const bgColor = ref(new Object());
    return {
      bgColor,
      props,
      reacProps,
      state,
      addNote,
      deleteNotes
    };
  }
});
</script>
