<template>
  <q-card :style="{ borderColor: state.bgColor, borderBottom: 'solid' }">
    <q-card-section>
      <div class="row">
        <div class="col-12 col-sm-12">
          <span style="float: right">{{ singleNote.date }}</span>
        </div>
        <div class="col-12 col-sm-12 q-mt-sm" style="font-size:11px">
          Created By: <b>{{ singleNote.createdBy }}</b>
        </div>
        <div class="col-12 col-sm-12 q-mt-md" v-html="singleNote.note">
          {{ singleNote.note }}
        </div>
        <div class="col-12 col-sm-12 text-right q-mt-md">
          <q-btn
            color="primary"
            flat
            icon="edit"
            size="sm"
            @click="
              state.newNote = singleNote.note;
              state.showEditModal = true;
            "
          />
          <q-btn
            flat
            color="negative"
            icon="delete_forever"
            size="sm"
            @click="deleteNote()"
          />
        </div>
      </div>
    </q-card-section>
    <!-- MODAL PARA AGREGAR UNA NOTA-->
    <q-dialog v-model="state.showEditModal">
      <q-card>
        <q-card-section class="row items-center">
          <div class="row">
            <div class="col-12 col-sm-12">
              <span class="text-h6">Update note </span>
            </div>
            <div class="col-12 col-sm-12 q-mt-md">
              <q-editor v-model="state.newNote" min-height="10rem" />
            </div>
            <div class="col-12 col-sm-12 q-mt-md">
              <q-btn
                class="float-right"
                flat
                icon="save"
                label="Save"
                color="primary"
                @click="updateNote()"
              />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  onMounted,
  reactive,
  watch
} from "@vue/composition-api";
import notesMethods from "./../../../mixins/notesMethods";
import {
  propsInterface,
  singleNoteInterface
} from "./../../../models/notesModels";
import { date } from "quasar";
export default defineComponent({
  name: "note",
  props: {
    note: {
      type: Object,
      required: false
    },
    color: {
      type: String,
      required: false
    }
  },

  setup(props, context) {
    onMounted(() => {
      singleNote.createdBy = props.note!.user.name;
      singleNote.note = props.note!.note;
      singleNote.id = props.note!.id;
      singleNote.date = date.formatDate(
        new Date(props.note!.created_at.toString()),
        "MMM DD, YYYY | HH:mm"
      );
      state.bgColor = props.color!;
    });
    watch(
      () => props.color,
      (first, second) => {
        if (first) {
          state.bgColor = first;
        }
      }
    );

    const singleNote: singleNoteInterface = reactive({
      createdBy: "",
      note: "",
      date: "",
      id: undefined
    });

    const state = reactive({
      bgColor: "",
      showEditModal: false,
      newNote: ""
    });

    const updateNote = () => {
      notesMethods(context)
        .updateNote(state.newNote, singleNote.id)
        .then(res => {
          state.showEditModal = false;
          singleNote.note = state.newNote;
        });
    };
    const deleteNote = () => {
      context.root.$q
        .dialog({
          title: "DELETE NOTE",
          message: "Are you sure?",
          ok: {
            push: true
          },
          cancel: {
            push: true,
            color: "negative"
          },
          persistent: true
        })
        .onOk(() => {
          context.emit("deleteNote", singleNote.id);
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    };

    return {
      props,
      singleNote,
      state,
      updateNote,
      deleteNote
    };
  }
});
</script>
