<template>
  <div>
    
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  ref,
  toRef,
  Ref,
} from "@vue/composition-api";

export default defineComponent({
  name: "CompositionComponent",
  props: {},
  setup(props, context) {
    return {};
  },
});
</script>
