// app global css in Sass form
@import './login'
.space
    padding: 8px 8px

.headerForCard   
    color: white
    padding: 15px
    font-size: 20px
    font-weight: bold

.subtitleColor 
    color: #979fa2

.select 
    width: 200px
    height: 40px
    border-radius: 5px

.select option
  color: #ffffff
  padding: 8px 16px
  border: 1px solid transparent
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent
  cursor: pointer
  font-weight:normal

input[type="text"][disabled] 
   color: black;
   opacity: 4 !important
