.login-logo
    background-color: #F1F1F1
    height: 100vh !important
    img
        margin: 0 auto
    p
        font-size: 20px
        font-weight: 300
        color: #908c8c
        span
            color: black
            font-weight: bold
.login-form
    background-color: #778CF5
    h3
        color: #506CF9
        font-weight: bold
        margin: 0
        padding: 16px
        span 
            color: #778CF5
    button
        background-color: #778CF5
        color: white