<template>
  <div id="q-app">
    <router-view :key="$route.fullPath"/>
    <!-- DIALOGO DE CONFIRMACION -->
    <q-dialog v-model="$store.state.general.loading" persistent transition-show="scale" transition-hide="scale">
          <q-spinner-gears
                    color="white"
                    size="4rem"
                    />
      </q-dialog>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";

export default defineComponent({
  name: "App",
  setup(props, context) {
   

    return {
       
    };
  }
});
</script>
