<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title>
          CRM
        </q-toolbar-title>
        <div>CRM v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list bordered class="rounded-borders">
        <q-item clickable v-ripple to="/" exact>
          <q-item-section avatar>
            <q-icon name="dashboard" />
          </q-item-section>
          <q-item-section>Dashboard</q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/clients">
          <q-item-section avatar>
            <q-icon name="people" />
          </q-item-section>
          <q-item-section>Clients</q-item-section>
        </q-item>

        <q-expansion-item expand-separator icon="settings" label="Setings">
          <q-item
            clickable
            v-ripple
            to="/users"
            v-if="state.user && state.user.role.name == 'admin'"
          >
            <q-item-section avatar>
              <q-icon name="people_outline" />
            </q-item-section>
            <q-item-section>Users</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/agents">
            <q-item-section avatar>
              <q-icon name="people_alt" />
            </q-item-section>
            <q-item-section>Agents</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/categories">
            <q-item-section avatar>
              <q-icon name="category" />
            </q-item-section>
            <q-item-section>Categories</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/recycle-bin">
            <q-item-section avatar>
              <q-icon name="delete" />
            </q-item-section>
            <q-item-section>Recyble Bin</q-item-section>
          </q-item>
        </q-expansion-item>
        <q-item clickable v-ripple @click="logOut" class="q-mb-xl">
          <q-item-section avatar>
            <q-icon name="power_settings_new" />
          </q-item-section>
          <q-item-section>Cerrar Sesión</q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
          v-for="color in state.listStatuses"
          :key="color.id"
          @click="clientsByStatus(color.id)"
        >
          <q-item-section
            :style="{
              backgroundColor: color.color_code,
              color: 'white',
              width: '100%',
              padding: '5px',
              borderRadius: '5px'
            }"
            >{{ color.name }}</q-item-section
          >
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import EssentialLink from "components/EssentialLink.vue";

const menu = [
  {
    title: "Dashboard",
    icon: "dashboard",
    link: "/"
  },
  {
    title: "Clients",
    icon: "supervisor_account",
    link: "/clients"
  },
  {
    title: "Charges",
    icon: "supervisor_account",
    link: "/charges"
  },
  {
    title: "Configuración",
    icon: "build",
    link: "/configuracion"
  }
];

import {
  defineComponent,
  ref,
  reactive,
  onMounted
} from "@vue/composition-api";
import dashboardMethods from "../mixins/dashboardMethods";

export default defineComponent({
  name: "MainLayout",
  components: { EssentialLink },
  setup(props, context) {
    onMounted(() => {
      getData(); //obtiene la data para llenar los selects
      state.user = context.root.$store.state.general.user;
    });
    const leftDrawerOpen = ref(false);
    const menu2 = ref(menu);

    const logOut = () => {
      context.root.$store.commit("general/loading", true);
      context.root.$q.cookies.remove("token");
      context.root.$axios
        .get(context.root.$store.state.general.apiUrl + "/auth/logout", {})
        .then(response => {
          location.reload(true);
          context.root.$store.commit("general/loading", false);
        })
        .catch(error => {
          context.root.$router.push({ path: "/login" });
          location.reload(true);
          context.root.$store.commit("general/loading", false);
        });

      //this.$router.push({ path: "/login" });
    };
    const clientsByStatus = (id: string) => {
      window.open(
        context.root.$store.state.general.frontUrl + "/#/clients/status/" + id,
        "_blank"
      );
    };

    const getData = () => {
      dashboardMethods(context)
        .getData()
        .then(res => {
          /* info.statusesList = res;
          info.statusesList.unshift({
            id: 0,
            name: "All",
            color_code: "#000000",
          });
          */
          state.listStatuses = res.statuses;
          // context.root.$store.commit("general/statuses", res.statuses);
        });
    };
    const state = reactive({
      listStatuses: [
        {
          id: "",
          color_code: "",
          name: ""
        }
      ],
      user: ""
    });

    return { leftDrawerOpen, menu2, logOut, clientsByStatus, context, state };
  }
});
</script>
