<template>
  <q-page padding>
    <div class="row">
      <div class="col-12">
        <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el icon="people_outline" to="/users" label="Users" />
          <q-breadcrumbs-el label="Create user" />
        </q-breadcrumbs>
      </div>
      <div class="col-12 text-right q-gutter-md">
        <q-btn
          color="warning"
          :icon="state.changePassword ? 'lock' : 'lock_open'"
          :label="state.changePassword ? 'Cancel' : 'Change password'"
          v-if="
            state.activeUsr &&
              state.activeUsr.role.name === 'admin' &&
              state.paramId
          "
          @click="state.changePassword = !state.changePassword"
        />
        <q-btn color="negative" icon="delete_forever" @click="deleteUser" />
      </div>
      <div class="col-12">
        <q-form
          class=""
          ref="createUserForm"
          @reset="onReset"
          @submit="createUser"
          id="createUserForm"
        >
          <input
            type="hidden"
            value="put"
            name="_method"
            v-if="state.paramId"
          />
          <div class="row q-col-gutter-md q-pt-lg">
            <div class="col-12  col-md-12">
              <div class="text-subtitle1">
                Todos los campos son obligatorios.
              </div>
            </div>
            <div class="col-12  col-md-4" v-if="state.roles">
              <q-select
                name="role_id"
                v-model="state.role"
                :options="state.roles"
                option-value="id"
                option-label="name"
                label="Rol de usuario"
                outlined
                :rules="state.requiredRule"
              />
            </div>
            <div class="col-12  col-md-4">
              <q-input
                v-model="state.name"
                name="name"
                outlined
                label="Nombre (s)*"
                stack-label
                :rules="state.requiredRule"
              />
            </div>
            <div class="col-12  col-md-4">
              <q-input
                v-model="state.lastName"
                name="last_name"
                outlined
                label="Apellidos*"
                stack-label
                :rules="state.requiredRule"
              />
            </div>
            <div class="col-12  col-md-6">
              <q-input
                type="email"
                v-model="state.email"
                name="email"
                outlined
                label="E-mail*"
                stack-label
                :rules="state.emailRules"
              />
            </div>
            <div class="col-12  col-md-6">
              <q-input
                type="email"
                v-model="state.emailConfirmation"
                name="email_confirmation"
                outlined
                label="Confirma tu e-mail*"
                stack-label
                :rules="state.emailConfirmationRules"
              />
            </div>
            <template v-if="!state.paramId || state.changePassword">
              <div class="col-12  col-md-6">
                <q-input
                  type="password"
                  v-model="state.password"
                  name="password"
                  outlined
                  label="Password *"
                  stack-label
                  :rules="state.passwordRule"
                />
              </div>
              <div class="col-12  col-md-6">
                <q-input
                  type="password"
                  v-model="state.passwordConfirmation"
                  name="password_confirmation"
                  outlined
                  label="Confirmar Password*"
                  :rules="state.passwordConfirmationRule"
                  stack-label
                />
              </div>
            </template>
            <div class="col-md-12 text-right q-gutter-lg">
              <q-btn to="/users" color="red" label="Cancel" />
              <q-btn
                type="submit"
                color="primary"
                :label="state.paramId ? 'Edit User' : 'Create User'"
              />
            </div>
          </div>
        </q-form>
      </div>
    </div>
  </q-page>
</template>

<script>
import axiosMethods from "./../../mixins/axiosMethodsComponent.js";
import { defineComponent, onMounted, reactive } from "@vue/composition-api";
export default defineComponent({
  name: "users",
  setup(props, context) {
    const { errorHandler } = axiosMethods();
    const api = context.root.$store.state.general.apiUrl;

    const state = reactive({
      user: null,
      activeUsr: null,
      roles: [],
      role: "",
      name: "",
      lastName: "",
      email: "",
      emailConfirmation: "",
      password: "",
      passwordConfirmation: "",
      paramId: "",
      changePassword: false,
      requiredRule: [v => !!v || "This file is required"],
      passwordRule: [
        v => !!v || "This file is required",
        v => v.length > 7 || "Must be at least 8 characters"
      ],
      passwordConfirmationRule: [
        v => !!v || "This file is required",
        v => v.length > 7 || "Must be at least 8 characters",
        () =>
          state.password === state.passwordConfirmation ||
          "The passwords do not match"
      ],
      emailRules: [
        v => !!v || "e-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      emailConfirmationRules: [
        v => !!v || "This file is required",
        v => /.+@.+/.test(v) || "e-mail is required",
        () => state.email === state.emailConfirmation || "E-mails do not match"
      ]
    });

    onMounted(() => {
      getRoles();
      console.log(context.root.$route.params.id);
      state.activeUsr = context.root.$store.state.general.user;
      if (context.root.$route.params.id) {
        state.paramId = context.root.$route.params.id;
        getUser();
      } else {
        return;
      }
    });

    function createUser() {
      context.refs.createUserForm.validate().then(success => {
        if (success) {
          const route =
            state.paramId > 0
              ? `${api}/auth/users/${state.paramId}`
              : `${api}/auth/users`;
          const form = document.getElementById("createUserForm");
          const data = new FormData(form);
          context.root.$axios
            .post(route, data)
            .then(response => {
              if (response.data.success) {
                context.root.$q.notify({
                  type: "positive",
                  message: response.data.message
                });

                if (!state.paramId) {
                  onReset();
                  context.refs.createUserForm.reset();
                }
              }
            })
            .catch(error => {
              context.root.$store.commit("general/loading", false);
              errorHandler(error, context);
            });
        }
      });
    }

    function onReset() {
      state.name = "";
      state.lastName = "";
      state.email = "";
      state.emailConfirmation = "";
      state.password = "";
      state.passwordConfirmation = "";
    }

    function getUser() {
      context.root.$axios
        .get(`${api}/auth/users/${state.paramId}`)
        .then(response => {
          console.log(response.data);
          let usr = response.data.data;
          state.name = usr.name;
          state.lastName = usr.last_name;
          state.email = usr.email;
          state.emailConfirmation = usr.email;
        })
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    }

    function deleteUser() {
      this.$q
        .dialog({
          title: state.name + " " + state.lastName,
          message: "do you really want to delete this user?",
          cancel: true,
          persistent: true,
          ok: {
            color: "negative",
            label: "Delete",
            flat: true
          }
        })
        .onOk(() => {
          context.root.$store.commit("general/loading", true);
          context.root.$axios
            .delete(`${api}/auth/users/${state.paramId}`)
            .then(response => {
              context.root.$store.commit("general/loading", false);
              if (response.data.success) {
                context.root.$q.notify({
                  type: "positive",
                  message: response.data.message
                });
                context.root.$router.push({ path: "/users" });
              } else {
                context.root.$q.notify({
                  type: "negative",
                  message: response.data.message
                });
              }
            })
            .catch(error => {
              context.root.$store.commit("general/loading", false);
              errorHandler(error, context);
            });
        });
    }

    function getRoles() {
      context.root.$axios
        .get(`${api}/auth/roles`)
        .then(response => {
          context.root.$store.commit("general/loading", false);
          if (response.data.success) {
            state.roles = response.data.data;
            state.role = response.data.data[0];
          }
        })
        .catch(error => {
          context.root.$store.commit("general/loading", false);
        });
    }

    return {
      state,
      createUser,
      onReset,
      deleteUser
    };
  }
});
</script>

<style></style>
