<template>
  <q-page padding>
      <div class="row">
        <div class="col-12 text-right">
          <q-btn color="primary" icon="add" label="Create user" to="/users/create" v-if="state.user && state.user.role.name == 'admin'" />
        </div>
        <div class="col-12 q-mt-lg" v-if="state.users">
          <q-table
            title="Users"
            :data="state.users"
            :columns="columns"
            row-key="name"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="role" :props="props">{{ (props.row.roles.length) ? props.row.roles[0].name : '' }}</q-td>
                <q-td key="name" :props="props">{{ props.row.name }} {{ props.row.last_name }}</q-td>
                <q-td key="createdBy" :props="props">{{ props.row.created_by }}</q-td>
                <q-td key="updatedBy" :props="props">{{ props.row.updated_by }}</q-td>
                <q-td key="lastUpdate" :props="props">{{ props.row.updated_at }}</q-td>
                <q-td key="actions" :props="props" class="q-gutter-xs">
                  <q-btn color="primary" icon="edit" size="sm" :to="'users/edit/' + props.row.id" />
                  <q-btn 
                    color="negative" 
                    icon="delete_forever" 
                    size="sm"
                    @click="deleteUser(state.users.indexOf(props.row), props.row.id)" 
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
  </q-page>
</template>

<script>
import axiosMethods from "./../../mixins/axiosMethodsComponent.js";
import {
  defineComponent,
  onMounted,
  reactive,
} from "@vue/composition-api";
export default defineComponent({
    name: "users",
    setup(props, context) {
        const { errorHandler } = axiosMethods();
        const api = context.root.$store.state.general.apiUrl;
        const columns = [
          { name: "role", label: "Role", align: "left" },
          { name: "name", label: "Name", align: "left" },
          { name: "createdBy", label: "Created by", align: "left" },
          { name: "updatedBy", label: "Updated by", align: "left" },
          { name: "lastUpdate", label: "Last update", align: "left" },
          { name: "actions", label: "Actions" },
        ];

        const state = reactive({
            roles: [],
            users: null,
            user: context.root.$store.state.general.user 
        });

        onMounted(() => {
          getUsers();
        });

        function getUsers() {
          context.root.$store.commit("general/loading", true);

          context.root.$axios.get(`${api}/auth/users`)
            .then((response) => {
              context.root.$store.commit("general/loading", false);
              if (response.data.success) {
                state.users = response.data.data;
              } else {
                context.root.$store.commit("general/loading", false);
                context.root.$q.notify({
                      type: 'negative',
                      message: response.data.message,
                  })
              }
            })
            .catch((error) => {
              context.root.$store.commit("general/loading", false);
              errorHandler(error, context);
            });
        }

        function deleteUser(index, id) {
          let usr = state.users[index];
          this.$q.dialog({
            title: usr.name,
            message: 'do you really want to delete this user?',
            cancel: true,
            persistent: true,
            ok: {
              color: 'negative',
              label: 'Delete',
              flat: true
            }
          }).onOk(() => {
            context.root.$store.commit("general/loading", true);
            context.root.$axios.delete(`${api}/auth/users/${id}`).then( response => {
              context.root.$store.commit("general/loading", false);
              console.log(response.data );
                if (response.data.success) {
                  state.users.splice(index, 1);
                  context.root.$q.notify({
                    type: "positive",
                    message: response.data.message,
                  });
                } else {
                  context.root.$q.notify({
                    type: "negative",
                    message: response.data.message,
                  });
                }


              }).catch ( error => {
                context.root.$store.commit("general/loading", false);
                errorHandler(error, context);
              })
          })
        }

        return {state, columns, deleteUser}
    }
})
</script>

<style>

</style>